asgiref==3.2.10
beautifulsoup4==4.4.1
dj-database-url==0.5.0
Django==1.11.29
django-bootstrap3==14.1.0
django-heroku==0.3.1
django-location==2.1.1
django-mailbox==4.8.1
django-registration==2.4.1
django-social-auth==0.7.28
django-tinymce==3.0.2
gunicorn==20.0.4
Pillow==8.1.1
psycopg2==2.7.5
psycopg2-binary==2.8.5
python-decouple==3.3
pytz==2020.1
sqlparse==0.3.1
whitenoise==5.1.0
soupsieve==2.0.1
