<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a class="logo navbar-brand" href="#">
                <img src="https://www.freelogodesign.org/file/app/client/thumb/4a9a0cc4-0357-4d82-aa4b-e65540703925_200x200.png?1596383019642" width="30" height="30" alt="">
            </a>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'photoToday' %}">Picha</a>
            </div>
        </div>
    </nav>
</body>

</html>