{% extends 'photogallery/base.html'%} {% block content %} {{block.super}}
<ul class="container-fluid">
    {% for photo_item in photo %}
    <li style="display: inline-block; padding-left:22px;">
        <div class="card">
            <img class="image-hover" src="{{photo_item.image_image.url}}" class="img-responsive" alt="Image" style="height:250px; width:350px;">
            <div class="card-body">
                <h5 class="card-title">{{ photo_item.title }}</h5>
                <p class="card-text">{{ photo_item.description}}</p>
                <p class="card-text"><small class="text-muted">{{ photo_item.post_date}}</small></p>
                <a href="/image/{{photo_item.id}}"> Click Here!</a>

                <p id="http://127.0.0.1:8000/media/images/nairobi.jpg"></p>
                <button class="copybutton" onclick="copyToClipboard('#p1')">Copy</button>


            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}