{%extends 'photogallery/base.html'%} {% block content %} {{block.super}} {% for photo_item in photo %}
<div class="container">
    <!-- displaying photos -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2 class="text-center"> {{ photo_item.title }} </h2>
    </div>

    <div class="card-group">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <img src="{{photo_item.image_image.url}}" class="img-responsive" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">{{ photo_item.title }}</h5>
                    <p class="card-text">{{ photo_item.description}}</p>
                    <p class="card-text"><small class="text-muted">{{ photo_item.post_date}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %} {% endfor %}

</div>

{% endblock %}