body {
    background-color: #e8ebe9;
}

h1 {
    color: black;
}

.navbar-inverse {
    background-color: #5e0846;
    border: #5e0846;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px black;
    height: 32px;
    border-radius: 0%;
}

.navbar-header {
    color: white;
}

.navbar-brand {
    line-height: 30px;
    font-size: 22px;
    margin: -14px;
}

.navbar-form {
    margin: -2px;
    background-color: #5e0846;
}

.form-control {
    background-color: transparent;
    border: none;
}

.input-group-btn {
    background-color: transparent;
}

.btn-default {
    background-color: transparent;
    border: none;
    color: darkgray;
}

a {
    color: #5e0846;
}

.copybutton {
    background-color: transparent;
    border: none;
    color: #5e0846;
    margin-bottom: 5px;
    border-radius: 3px;
}

.copy {
    margin-bottom: 10px;
}

.hfour {
    color: #5e0846;
    text-align: center;
    margin-bottom: 20px;
}

.htwo {
    text-align: center;
}

.image-hover {
    border-radius: 5px;
}

.image-hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image-hover:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}